# Find all pairs of an interger array whose sum is equal to a given number

Given an array of integers, and a number ‘sum’, print all pairs in the array whose sum is equal to ‘sum’.

Examples :
Input  :  arr[] = {1, 5, 7, -1, 5}, 

          sum = 6
          
Output : (1, 5) (7, -1) (1, 5)


Input  :  arr[] = {2, 5, 17, -1}, 

          sum = 7
          
Output :  (2, 5)

In [3]:
for i in range(5):
    print("i-------------->", i)
    for j in range(i, 5):
        print(j)

i--------------> 0
0
1
2
3
4
i--------------> 1
1
2
3
4
i--------------> 2
2
3
4
i--------------> 3
3
4
i--------------> 4
4

In [10]:
for j in range(1,2):
    print(j)

1

In [13]:
def find_pair(array, total):
    length = len(array)                    
    
    for i in range(length):     #i=0 i=1
        for j in range(i+1, length): #j=0 j=1 j=2:loop got terminated   #range(1,2)j=1
            if (array[i] + array[j]) == total:
                print(array[i], array[j])
                
                
array = [6, 6]
total = 12
find_pair(array, total)

6 6

# Program to print pattern based on the number of input

n = 5

*

* * 

* * *

* * * *

* * * * *

In [17]:
rows = int(input("enter no. of rows"))

for i in range(rows):    #(range(5)
#     print("i-------------------->", i)
    for j in range(i+1):        #range(1) means loop get executed for 0
#         print("j:", j)
        print("* ", end="")
    print("\n")

enter no. of rows5
*

* *

* * *

* * * *

* * * * *

# Program to print reverse star pattern

n = 5

* * * * *

* * * *

* * *

* *

*

In [21]:
# range(2,5)
# for i in range(100 , 10, -10):
#     print(i)

In [23]:
rows = int(input("enter no. of rows"))

for i in range(rows, 0, -1):       #range(5,0,-1)
    for j in range(0,i):                #range(i, 0, -1)
        print("* ", end="")
    print("\n")

enter no. of rows5
* * * * *

* * * *

* * *

* *

*

n = 5


1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

# Find all triplets with a given sum

Given an array of distinct elements. The task is to find triplets in array whose sum is equal to a given number.

Example:

Input: arr[] = {0, -1, 2, -3, 1}

        sum = -2
        
Output:    0 -3  1

           -1  2 -3
        
If we calculate the sum of the output,
0 + (-3) + 1 = -2

(-1) + 2 + (-3) = -2



Input: arr[] = {1, -2, 1, 0, 5}

       sum = 0
       
Output: 1 -2  1

If we calculate the sum of the output,

1 + (-2) + 1 = 0

# Program to check whether a string is palindrome or not

A palindrome is a string that is the same read forward or backward.

For example, "dad" is the same in forward or reverse direction. Another example is "aibohphobia", which literally means, an irritable fear of palindromes.

Examples: 

Input : malayalam

Output : Yes



Input : geeks

Output : No

In [24]:
def is_palindrome(s):
    if s == s[::-1]:
        return "Yes"
    else:
        return "No"


def is_palindrome(s):
        return s == s[::-1]
        
is_palindrome("dad")

'Yes'

# Reverse words in a given string

Given a string, the task is to reverse the order of the words in the given string.

Input: s = “geeks quiz practice code” 

Output: s = “code practice quiz geeks”


Input: s = “i love programming very much” 

Output: s = “much very programming love i”

In [25]:
s = "geeks quiz practice code"

s = s.split()[::-1]

print(" ".join(s))

code practice quiz geeks

# Program to find whether the given number is Armstrong number or not

A positive integer is called an Armstrong number of order n if:

for example:

153 = 1 * 1 * 1 + 5 * 5 * 5 + 3 * 3 *3  // 153 is an Armstrong number.

# Program to find whether a given number is prime or not

# Program to print all prime numbers in an interval

A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number.

2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

# Program to find factorial of a number

The factorial of a number is the product of all the integers from 1 to that number.

For example, the factorial of 6 is 1*2*3*4*5*6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

# Program to check if 2 strings are rotation of each other